<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<!--涂布机配置-->
	<add key="CoaterIP" value="192.168.1.40"/>
	<add key="CoaterPort" value="9600"/>
	<add key="Pasteviscosity" value="0.7879"/>
	<add key="Pastcontent" value="6117.0"/>
	<add key="Pasteformula" value="钴酸锂GP058!FJXM0003[750.0]"/>
	<add key="Shimthickness" value="0.8"/>
	<!--测厚仪配置-->
	<add key="AreaIP" value="192.168.1.59"/>
	<add key="AreaPort" value="31416"/>
	<!--模头配置-->
	<add key="TDieIP" value="192.168.1.1"/>
	<add key="TDiePort" value="9600"/>
	<!--闭环配置-->
	<add key="TcpIP" value="192.168.1.45"/>
	<add key="TcpPort" value="8881"/>
	<add key="ConnectionString" value="Provider=SQLOLEDB.1;Password=anyun@123;Persist Security Info=True;User ID=sa;Initial Catalog=CloseLoopDataBase;Data Source=127.0.0.1"/>
    <add key ="Technology_Name" value ="0"/>
	<add key="TargetValue" value="0"/>
	<add key ="Tolerance" value="0"/>
	<add key ="WarningTolerance" value ="0"/>
	</appSettings>
</configuration>